# Beat The Bookies: Predicting EPL Matches
_Team C_

__Mohammad Ali Syed, Abdul Al-Fahim, Dylan Hoi, Henry Chen, Chris Wong & Yolanne Lee__

**Contents:**

[Section 1](#section1): Introduction

[Section 2](#section2): Data Import

[Section 3](#section3): Data Transformation & Exploration

[Section 4](#section4): Methodology Overview

[Section 5](#section5): Model Training & Validation

[Section 6](#section6): Results

[Section 7](#section7): Final Predictions on Test Set

## Introduction
<a name='section1'></a>

## Data Import
<a name='section2'></a>

In [37]:
#import packages
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

import matplotlib.pyplot as plt

In [138]:
# load data
dirName = 'Data_Files/'
filePath = dirName + 'epl-training.csv'

data = pd.read_csv(filePath)
#Remove empty nan columns at the end
data = data.iloc[:, 0:22]
data.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,16/08/2008,Arsenal,West Brom,1,0,H,1,0,H,H Webb,...,14,4,11,8,7,5,0,0,0,0
1,16/08/2008,Bolton,Stoke,3,1,H,3,0,H,C Foy,...,8,2,13,12,4,3,1,2,0,0
2,16/08/2008,Everton,Blackburn,2,3,A,1,1,D,A Marriner,...,5,11,11,9,3,5,2,2,0,0
3,16/08/2008,Hull,Fulham,2,1,H,1,1,D,P Walton,...,6,6,10,9,5,6,3,0,0,0
4,16/08/2008,Middlesbrough,Tottenham,2,1,H,0,0,D,M Atkinson,...,10,5,11,12,7,9,1,2,0,0

## Data Transformation & Exploration
<a name='section3'></a>

In [151]:
############################################# Feature Selection
encoder = OneHotEncoder(handle_unknown='ignore')

# extract result
y = data.iloc[:, 5:6]
y = encoder.fit_transform(y)

# remove give away columns -> goals and full time result
data_filtered = data.drop(labels = data.columns[[3, 4, 5, 6, 7, 8]], axis = 1)

# transform data
# one hot encode refs
ref = data_filtered.iloc[:, 3:4]
ref = encoder.fit_transform(ref)
data_filtered = data_filtered.drop(labels = data_filtered.columns[[3]], axis = 1)
data_filtered = data_filtered.join(pd.DataFrame(ref.toarray()))
# non_ref = data_filtered.iloc[:, 0:15]

#scale appropriate columns -> look how example Notebook scaled wrto one hot encoded columns
scaler = StandardScaler()
scaled = scaler.fit_transform(data_filtered.iloc[:, 3:15])

#handle teams
#hanlde dates

# train/test split
# setup ml pipeline
# loop through data removing one column at a time and see effect
# produce filtered dataset upon which priors can be produced
# visualise change

,Date,HomeTeam,AwayTeam,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,16/08/2008,Arsenal,West Brom,24,5,14,4,11,8,7,5,0,0,0,0
1,16/08/2008,Bolton,Stoke,14,8,8,2,13,12,4,3,1,2,0,0
2,16/08/2008,Everton,Blackburn,10,15,5,11,11,9,3,5,2,2,0,0
3,16/08/2008,Hull,Fulham,11,12,6,6,10,9,5,6,3,0,0,0
4,16/08/2008,Middlesbrough,Tottenham,14,8,10,5,11,12,7,9,1,2,0,0

## Methodology Overview
<a name='section4'></a>

## Model Training & Validation
<a name='section5'></a>

## Results
<a name='section6'></a>

## Final Predictions on Test Set
<a name='section7'></a>